@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import 'base/variables.scss';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/with';
@import 'blocks/expert';
@import 'blocks/carousel';
@import 'blocks/pluss';
@import 'blocks/options';
@import 'blocks/start';
@import 'blocks/footer';
@import 'blocks/media';